@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 
html,body{
height: 100%;
width: 100%;
}
.stroke{
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Stroke width and color */
  color: black;
  text-shadow: 0px 4px 4px rgba(255,255,255,0.49);
   
    
}

.strokes{
    -webkit-text-stroke: 1px white;
    color: transparent; 
    
    
}

.linkContainer{
  perspective: 160px;
  perspective-origin: bottom;
}

.lenis{
  font-family: "Questrial", sans-serif;
  font-size: 1.2rem;
}

 .header{
        font-family: 'Road Rage';
    }
    .grid>div {
        grid-row: var(--r);
        grid-column: var(--c);
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }